.p1 {
    background: #080808 url(../img/strato.jpg) center no-repeat;
    background-size: cover;
}
.p2 {
    background: #080808 url(../img/les.jpg) bottom no-repeat;
    background-size: cover;
}
.p3 {
    background: #080808 url(../img/amp.jpg) bottom no-repeat;
    background-size: cover;
}
.p4 {
    background: #080808 url(../img/violão.jpg) bottom no-repeat;
    background-size: cover;
}
.p5 {
    background: #080808 url(../img/bass6c.jpg) bottom no-repeat;
    background-size: cover;
}
.p6 {
    background: #080808 url(../img/bass5c.jpg) bottom no-repeat;
    background-size: cover;
}
.p7 {
    background: #080808 url(../img/cabo.png) center no-repeat;
    background-size: cover;
}
.p8 {
    background: #080808 url(../img/bateria.png) bottom no-repeat;
    background-size: cover;
}
.p9 {
    background: #080808 url(../img/teclado.png) bottom no-repeat;
    background-size: cover;
}
.p10 {
    background: #080808 url(../img/capo.png) bottom no-repeat;
    background-size: cover;
}