nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 55px;
    padding: 0;
    background: #080808;
    color: #E8EEF2;
    box-shadow: 3px 3px 5px #00000046;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10
}

.logo-mobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    margin: 8px 0px 0px 40px;
    padding: 0;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15%;
    width: 80%;
    height: auto;
    padding-right: 12%;
    color: #E8EEF2;
}
.item a {
    color: #E8EEF2;
}
.item a:hover {
    color: #421da7;
    transform: scale(1.1);
}
